@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.anuncio {
    @apply
    flex flex-col bg-amber-200 border-amber-800 rounded-2xl
    text-blue-900 text-3xl m-10 p-3 px-5 font-bold
}

.boton{
    @apply inline-flex
        m-3
    items-center px-4 py-2 bg-gray-800 border
    border-transparent rounded-md font-semibold
    text-xs text-white uppercase tracking-widest
    hover:bg-gray-700 active:bg-gray-900
    focus:outline-none focus:border-gray-900
    focus:ring ring-gray-300 disabled:opacity-25
    transition ease-in-out duration-150
}
